@model EsoftPortalMvc.Models.CustomerDetailsView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<!-- Section: #FEATURES -->
<section id="features" class="home-section text-center" style="padding-top: 150px;">

    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>@Html.DisplayFor(m => m.CustomerName)</h2>
                        <h4>Member Number: @Html.DisplayFor(m => m.CustomerNo)</h4>
                        <p>
                            Welcome to our member portal. Check you most recent transactions in a very easy and convenient way.
                            Stay up to date with everything happening in this portal.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-lock fa-3x"></i>
                    </div>

                    <a href="#">
                        <div class="service-desc">
                            <h5><b>My Savings</b></h5>
                            <p>
                                Get an overview of your savings from your accounts and print out a statement.
                            </p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-suitcase fa-3x"></i>
                    </div>

                    <a href="#">
                        <div class="service-desc">
                            <h5><b>My Loans</b></h5>
                            <p>
                                See how you have been performing on your loan accounts including pending balances.
                            </p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-gift  fa-3x"></i>
                    </div>
                    <a href="#">
                        <div class="service-desc">
                            <h5><b>My Shares</b></h5>
                            <p>
                                Keep a track of how your shares are performing and print out statements
                            </p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-exchange fa-3x"></i>
                    </div>
                    <a href="#">
                        <div class="service-desc">
                            <h5><b>Standing Orders</b></h5>
                            <p>
                                Check how your payment instructions have been performing and generate a print out.
                            </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Section: FEATURES -->
<!-- Section: #SCREENSHOT -->
<section id="screenshots" class="home-section text-center bg-gray">
    <div class="heading-works marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Notice Board</h2>
                        <p>
                            Dear member, we have recently added a print statement feature on the member portal.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
<!-- /Section: SCREENSHOT -->